<div class="footer">
  <div class="footer__items">Тверская Гимназия №10<br />совместно с Кванториум</div>
  <div class="footer__items"></div>
  <div class="footer__items"><p>(4822)32-10-94<br
      />gimn10@school.tver.ru</p></div>
  <div class="footer__items row">
    <div class="author-ref column">
      <a href="https://vk.com/ta4ilka" class="none_decoration color_honey">
        Артем Балин
      </a>
      <a href="https://vk.com/matwej29" class="none_decoration color_honey">
        Матвей Щербаков
      </a>
      <a href="https://vk.com/id342280920" class="none_decoration color_honey">
        Кирилл Ли
      </a>
    </div>
  </div>
</div>