<div class="menu-above">
    <a href="/home" class="menu__action none_decoration color_honey">Домой</a>
    <a href="/admin" class="menu__action none_decoration {{style_admin}} color_honey">Новости</a>
    <a href="/admin/teams" class="menu__action none_decoration {{style_teams}} color_honey">Команды</a>
</div>