<div class="menu-above">
    <a href="/home" class="menu__action text-decoration-none color_honey">Домой</a>
    <a href="/admin" class="menu__action text-decoration-none {{style_admin}} color_honey">Новости</a>
    <a href="/admin/teams" class="menu__action text-decoration-none {{style_teams}} color_honey">Команды</a>
    <a href="/admin/info" class="menu__action text-decoration-none {{style_info}} color_honey">Положение</a>
</div>