<div class="menu-above">
    <a href="home" class="menu__action none_decoration color_honey">Главная</a>
    <a href="info" class="menu__action none_decoration color_honey">Положение</a>
    <a href="teams" class="menu__action none_decoration color_honey">Команды</a>
    <a href="organizers" class="menu__action none_decoration color_honey">Организаторы</a>
    <a href="partners" class="menu__action none_decoration color_honey">Партнёры</a>
    <a href="help" class="menu__action none_decoration color_honey">Помощь</a>
</div>