<p style="font-family: 'Arial', sans-serif;font-size: 1.2vw;">Вы получили это
  письмо, потому что вы (или кто-то еще) запросил сброс пароля от вашего
  аккаунта.</p>
<p style="font-family: 'Arial', sans-serif;font-size: 1.2vw;">
  Для того, чтобы сбросить пароль, проследуйте по ссылке:</p>
<a
  style="font-family: 'Arial', sans-serif;font-size: 1.2vw; color: #5a8ce7"
  href="{{value}}"
>{{value}}</a>
<p style="font-family: 'Arial', sans-serif;font-size: 1.2vw;">Ссылка истекает
  через 24 часа</p>