<div class="each-list-container centering">
    <div class="list-container__text">
        <h1>При возникновении вопросов:</h1>
        <p>
            <b>Телефон:</b> 8(777)666-55-44
            <br>
            <b>Email:</b> example@mail.ru; example2@yandex.ru
        </p>
    </div>
</div>