<div class="each-list-container row">
    <div class="info-block centering">
        <div class="list-container__header">
            <h1>При возникновении вопросов:</h1>
        </div>
        <div class="info-block_text">
            <p>
                <b>Телефон:</b> (4822)32-10-94
                <br>
                <b>Email:</b> gimn10@school.tver.ru
            </p>
        </div>
    </div>
    <img class="spaced content-img" src="/static/img/help-img.svg">
</div>