<div class="content_main-block centering">
    <div class="column-reverse">
        {{#each this.list}}
        <div class="each-list-container centering column">
            <div class="list-container__header">{{this.header}}</div>
            <div class="list-container__text">{{{ this.text }}}</div>
        </div>
        {{/each}}
    </div>
</div>