<div class="content_main-block centering">
    <div class="column-reverse">
        {{#each this.list}}
        <div class="each-list-container centering column">
            <div class="list-container__header">
                <h1>{{this.header}}</h1>
            </div>
            <div class="list-container__text break-word">{{{ this.text }}}</div>
            <div class="list-container__date">{{this.date}}</div>
        </div>
        {{/each}}
    </div>
</div>