<a href = "/add" class = "add__action"></a>
{{#each this.list}}
<div class="each-list-container">
    <div class="list-container__value">{{this.value}}</div>
    <div> <a href="/delete?id={{id}}" class="list-container__action"></a></div>
</div>
{{/each}}