<a href='/admin/info/edit'
  class='list-container__action action__icon-edit background-image_when-svg btn btn-primary'>Редактировать</a>
<div class='card'>
  <div class='card-body'>{{{this.regulation}}}</div>
</div>