<div class="each-list-container inner-position-regulation">
    <div class="list-conteiner__header">
        <h1 class="centering">Положение о городском</h1>
        <h1 class="centering">Конкурсе «Проектный Олимп»</h1>
    </div>
    <div class="list-container__text">
        <p>
            <b>Цель Конкурса:</b> развитие регулятивных УУД,
            ознакомление с профессиональной жизнью населённого пункта (города Твери) через сотрудничество с
            предприятиями города,
            популяризация таких перспективных научных дисциплин, как эргономика и экология, развитие познавательных
            склонностей и способностей учащихся на основе реализации ученической проектно-исследовательской
            деятельности, воспитание
            бережного и
            ответственного отношения учащихся к окружающей их среде, решение вопроса профориентации.
            <br>
            <br>
            <b>Задачи Конкурса:</b>
        </p>
        <ul>
            <li>формирование у школьников представления о месте и роли науки в современном мире, актуальности и
                необходимости внедрения научных знаний в современную жизнь людей;
            </li>
            <li>стимулирование интереса учащихся к
                проектно-исследовательской деятельности;
            </li>
            <li>выявление наиболее одарённых обучающихся
                для дальнейшей работы с ними;
            </li>
            <li>привлечение школьников к решению
                социально-экономических проблем;
            </li>
            <li>создание условий для реализации
                творческого потенциала обучающихся,
                развитие инновационной культуры
                молодежи;
            </li>
            <li> публичное предъявление проектно-исследовательских
                разработок учащихся;
            </li>
            <li> ознакомление с ключевыми предприятиями г. Твери.
            </li>
        </ul>
        <p><b>Конкурс</b> проводится для двух возрастных групп:</p>
        <ul>
            <li>8-9 классы;</li>
            <li>10-11 классы.</li>
        </ul>
        <h1 class="small-h1">Руководство и методическое обеспечение конкурса</h1>
        <p>
            Организаторы конкурса «Проектный Олимп»:
            муниципальное общеобразовательное учреждение
            Тверская гимназия № 10 и детский технопарк «Кванториум».
            <br>
            Для организационно-методического обеспечения конкурса
            создается постоянно действующий оргкомитет Марафона
            (далее – Оргкомитет). Состав Оргкомитета Марафона формируется
            из числа педагогических работников МОУ «Гимназия № 10»,
            специалистов детского технопарка «Кванториум»,
            представителей от ведущих компаний-работодателей города
            Твери.<br>
        </p>
        <p><i>Оргкомитет Марафона:</i></p>
        <ul>
            <li>определяет форму и порядок проведения Марафона;</li>
            <li>формирует состав жюри из числа представителей ведущих тверских компаний;</li>
            <li>осуществляет непосредственное руководство подготовкой и проведением конкурса;</li>
            <li>анализирует и обобщает итоги конкурса.</li>
        </ul>
        <h1 class="small-h1">Партнеры мероприятий</h1>
        <p>
            Партнерами конкурса являются ведущие тверские компании-работодатели
            и образовательные организации, лидирующие в различных признанных рейтингах.
            Партнеры указаны на странице: www.polimp.gimn10tver.ru/partners.
            <br>
            <br>
            Партнеры конкурса имеют право:
        </p>
        <ol>
            <li>Принимать участие в конкурсе в составе экспертного жюри.
            </li>
            <li>Консультировать участников конкурса по вопросам получения
                всестороннего образования и карьерного развития.
            </li>
            <li>Предлагать участникам экскурсии-посещения своих компаний.
            </li>
        </ol>
        <h1 class="small-h1">Участники Конкурса</h1>
        <p><i>Участниками Конкурса</i> могут быть команды учащихся 8-11
            классов школ, лицеев, гимназий г. Твери. Учащиеся объединяются
            в команды по 5-6 человек. Поиск команды осуществляется
            самостоятельно. Допускается участие в команде учащихся из разных
            классов в соответствии с возрастной группой. Команда самостоятельно
            придумывает себе название, которое указывает при оформлении заявки
            на конкурс.
            <br>
            <i>Руководитель команды</i> — преподаватель (капитан команды), который
            должен подать Заявку на участие в Конкурсе, получать и передавать
            членам команды конкурсные задания, отправлять готовые ответы
            от команды. Регистрируя заявку (Приложение № 1 к Порядку проведения
            Конкурса),
            <i>участники Конкурса</i>
            и их руководители соглашаются дать
            разрешение на обработку их персональных данных, публикацию информации
            о проекте, авторах и их научном руководителе в электронном виде.
            Заполненные разрешения на обработку персональных данных должны
            храниться в образовательных учреждениях участников конкурса.
        </p>
        <h1 class="small-h1">Сроки проведения Конкурса</h1>
        <p>
            Прием заявок на участие в Конкурсе – до 17 сентября 2020г.
            <br>
            Приём готовых работ – до 10 октября 2020г.
            <br>
            Подведение итогов – 17-18 октября 2020г.
        </p>
        <h1 class="small-h1">Порядок участия в Конкурсе</h1>
        <p>
            <i>Участие в Конкурсе заочное.</i>
            <br>
            <br>
            <b>Заявки</b> на участие в Конкурсе направляются на адрес оргкомитета
            Конкурса образовательной организации
            <a href="mailto:gimn10@school.tver.ru">gimn10@school.tver.ru</a>.
            <br>
            На указанный в заявке адрес электронной почты 15.09.2020 команда-участница
            получает задание на разработку проекта.
            <br>
            <b>Команды</b>
            высылают свою работу на адрес образовательной организации оргкомитета Конкурса
            <a href="mailto:gimn10@school.tver.ru">gimn10@school.tver.ru</a>.
        </p>
        <h1 class="small-h1">Определение победителей</h1>
        <p>
            <b>Победителями</b>
            Конкурса «Проектный Олимп» считаются 25% участников, набравшие максимальное
            количество голосов членов Организационного комитета.
            <br>
            Победители Конкурса награждаются
            <i>Дипломами Победителей</i>.
            Итоги конкурса подводятся
            по каждой возрастной группе отдельно.
            <br>
            Все участники Конкурса получают
            <i>сертификаты участника</i>
            от Организационного комитета.
            <br>
            Проекты победителей могут быть представлены на региональной площадке Всероссийского
            фестиваля науки
            <i>«NAUKA 0+»</i>.
        </p>
        <h1 class="small-h1">Оценка и рецензирование решений</h1>
        <ol>
            <li>
                Решения оцениваются
                предприятиями-партнёрами по
                разработанным и четко установленным критериям:
                <ul>
                    <li> содержание;
                    </li>
                    <li> актуальность проекта;
                    </li>
                    <li>реализуемость проекта;
                    </li>
                    <li> оформление проекта;
                    </li>
                    <li> командная работа.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                По каждому критерию количество баллов ранжируется следующим образом: 0, 1 и 2 балла.
            </li>
            <br>
            <li>
                Результаты проверки решений (назначенные баллы) публикуются на сайте конкурса.
            </li>
            <br>
            <li>
                Проверка решений производится экспертным жюри без участия организатора. Определение
                победителей и призеров осуществляется коллегиально.
            </li>
            <br>
            <li>
                Организационный комитет конкурса «Проектный Олимп» в течение трех-пяти дней после
                объявления результатов готовят разбор основных ошибок, характерных для всех участников,
                а также общую обратную связь по решениям всех этапов, однако не комментируют каждое
                конкретное решение.
            </li>
        </ol>
        <h1 class="small-h1">Ответственность сторон</h1>
        <p>
            Все права на созданные в рамках Конкурса программные решения остаются за участниками.
            <br>
            Организаторы несут ответственность:
        </p>
        <ul>
            <li>за информирование участников Конкурса о дате и месте проведения Конкурса через
                адресную рассылку зарегистрировавшимся участникам;
            </li>
            <li>за проведение Конкурса «Проектный Олимп»;
            </li>
            <li>организаторы оставляют за собой право изменения текущего положения с публикацией
                внесённых изменений на сайте.
            </li>
        </ul>
        <p>Участники несут ответственность:</p>
        <ul>
            <li>за соблюдение морально-этических правил и норм.
            </li>
        </ul>
    </div>
</div>