<div class='each-list-container inner-position-regulatio'>
  {{{this.regulation}}}
</div>
<a
  href='/admin/info/edit'
  class='list-container__action action__icon-edit background-image_when-svg'
></a>