<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link href="/static/bundle/index.css" rel="stylesheet" type="text/css">
</head>

<body class="centering">
    <div>{{>menu}}</div>
    <div class="column">
        <div class="inpage-header each-list-container column">
            <div class="horizontal-direction">
                <img class="spaced" src="/static/img/logo.svg" width="100px">
                <h1 class="prolymp">Проектный Олимп</h1>
            </div>
            <img class="header-img" src="/static/img/header-img.svg">
            <p class="prolymp-text">Какая разница, это и 10 минут не составит какая разница, это и 10 минут не составит
                какая разница, это и
                10 минут не составит какая разница, это и 10 минут не составит какая разница, это и 10 минут не составит
                какая разница, это и
                10 минут не составит какая разница, это и
                10 минут не составит какая разница, это и
                10 минут не составит какая разница, это и
                10 минут не составит какая разница, это и
                10 минут не составит какая разница, это и
                10 минут не составит
            </p>
        </div>
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/static/bundle/index.js"></script>
</body>

</html>