<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link href="/static/bundle/index.css" rel="stylesheet" type="text/css">
</head>

<body class="centering skin-blue">
    <div>{{>menuA}}</div>
    <div class="column">
        <div class="inpage-header each-list-container column">
            <div class="header_content">
                <div class="header_title">
                    <img class="spaced" src="/static/img/logo.svg" width="100px">
                    <h1 class="header_title-text">Проектный Олимп</h1>
                </div>
            </div>
        </div>
        {{{body}}}
    </div>
    <script src="/static/bundle/index.js"></script>
</body>

</html>