<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link rel="icon" href="/static/img/logo.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/logo.svg" type="image/x-icon">
</head>

<body class="centering">
    <div>{{>menu}}</div>
    
    <div class="inpage_content column">
        <div class="page_name">
            <h1>{{page_name}}</h1>
        </div>
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/static/bundle/index.js"></script>
</body>

</html>