<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link href="/static/bundle/index.css" rel="stylesheet" type="text/css">
</head>

<body class="centering">
    <div>{{>menu}}</div>
    <div class="column">
        <div class="inpage-header each-list-container centering column">
            <h1>Проектный Олимп</h1>
        </div>
        {{{body}}}
    </div>
    <script src="/static/bundle/index.js"></script>
</body>

</html>