<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link href="/static/bundle/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/img/logo.svg" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/logo.svg" type="image/x-icon">
</head>

<body class="centering">
    <div>{{>menu}}</div>
    
    <div class="inpage_content column">
        <div class="inpage-header each-list-container">
            <div class="header_content">
                <div class="header_title">
                    <img class="spaced" src="/static/img/logo.svg" width="100px">
                    <h1 class="header_title-text">Проектный Олимп</h1>
                </div>
                <p class="header_text">Время искусственно созданных задач давно ушло. Современные школьники хотят, а
                    главное могут решать реальные и насущные проблемы. В процессе участия в Конкурсе «Проектный Олимп»
                    будут созданы проекты, основанные на действительных фактах, которые позволят участникам
                    почувствовать важность и ответственность за свои решения.</p>
                <p class="header_text">
                    Моделирование и воспроизведение реальных условий при помощи работы в командах обеспечат
                    захватывающий опыт, который откроет путь от теоретического обучения к насущным проблемам, которые
                    ставят нам предприятия нашего города, города, в котором мы живем.</p>
                <p class="header_text">
                    Прошло и то время, когда обучение сводилось к получению теоретических знаний, а не на применении
                    этой теории в сложных реальных ситуациях. Конкурс «Проектный Олимп» позволит участникам раскрыть
                    свои таланты и потенциал, даст толчок к развитию профессиональных знаний, важных и необходимых для
                    будущей работы софтскиллс.</p>
            </div>
            <img class="content-img" src="/static/img/header-img.svg">
        </div>
        <div class="page_name">
            <h1>{{page_name}}</h1>
        </div>
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/static/bundle/index.js"></script>
</body>

</html>