<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Olimp</title>
    <link href="/static/bundle/index.css" rel="stylesheet" type="text/css">
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" --}}
    {{!-- integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}
</head>

<body class="centering">
    <div>{{>menuA}}</div>
    <div class="inpage_content column">
        <div class="inpage-header each-list-container">
            <div class="header_content">
                <div class="header_title">
                    <img class="spaced" src="/static/img/logo.svg" width="100px">
                    <h1 class="header_title-text">Проектный Олимп</h1>
                </div>
            </div>
        </div>
        <div class="page_name">
            <h1>{{page_name}}</h1>
        </div>
        {{{body}}}
    </div>
    <script src="/static/bundle/index.js"></script>
</body>

</html>