<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input class="input" type="text" name="email" /><br />
    </div>
    <div>
        <label>Password:</label>
        <input class="input" type="password" name="password" />
    </div>
    <div>
        <input class="button button_size_normal button_style_action" type="submit" value="Submit" />
    </div>
    <a>Also you can </a><a href="/registration">register</a>
</form>