<div class="register-container centering">
  <div style="margin-top: -1vh;">
    <h1>Вход</h1>
  </div>
  <div class="info-block__text">
    <form action="/login" method="post">
      <div class="register-line">
        <b class="register-title">Email</b>
        <input class="input" type="text" name="email" />
      </div>
      <div class="register-line">
        <b class="register-title">Пароль</b>
        <input class="input" type="password" name="password" />
      </div>
      <div class="register-line centering">
        <input class="button" type="submit" value="Войти" />
      </div>
      <a class="hyperlink register-title" href="/registration">Регистрация</a>
      <b class="register-title">|</b>
      <a class="hyperlink register-title" href="/recover">Восстановление пароля</a>
    </form>
  </div>
</div>