<a href="https://kvantorium69.ru/" class="none_decoration color_honey">Кванториум</a><img src="/static/img/gimn10_gerb.png">
<a href="https://school.tver.ru/school/10" class="none_decoration color_honey">МОУ Гимназия №10</a><img src="/static/img/quant_gerb.png">