<div class="each-list-container column ">
    <div class="partner_ref">
        <p>
            МОУ "Гимназия №10"
        </p>
        <a href="https://school.tver.ru/school/10" class="partner_ref-img">
            <img src="/static/img/gerb_gimn10.jpg" height="80"></a>

    </div>
    <div class="partner_ref">
        <p>
            Кванториум Тверь
        </p>
        <a href="https://kvantorium69.ru/" class="partner_ref-img">
            <img src="/static/img/kvant-logo.jpg" height="80">
        </a>

    </div>
</div>