<div class='each-list-container partner-list row'>
  <div class='partner_ref'>
    <a href='https://school.tver.ru/school/10' class='none_decoration row'>
      <h1>МОУ "Гимназия №10"</h1>
      <img src='/static/img/organizers-logo/gerb_gimn10.jpg' height='100' />
    </a>

  </div>
  <div class='partner_ref'>
    <a href='https://kvantorium69.ru/' class='none_decoration row'>
      <h1>Кванториум Тверь</h1>
      <img src='/static/img/organizers-logo/kvant-logo.jpg' height='100' />
    </a>
  </div>
</div>