<div class="each-list-container">
    <div class="row">
        <div class="partner_ref">
            <h1>Сбербанк</h1>
            <a href="https://www.sberbank.ru/ru" class="partner_ref-img">
                <img src="/static/img/partners-logo/sber.png" height="100">
            </a>
        </div>
        <div class="partner_ref">
            <h1>ТСАХ</h1>
            <a href="https://tcax.ru" class="partner_ref-img">
                <img src="/static/img/partners-logo/tcax.png" height="100">
            </a>
        </div>
        <div class="partner_ref">
            <h1>ТЗВП</h1>
            <a href="http://ecotechpro.ru/ru" class="partner_ref-img">
                <img src="/static/img/partners-logo/tzvp.jpeg" height="100">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="partner_ref">
            <h1>АтомЭнергоСбыт</h1>
            <a href="https://atomsbt.ru/tver" class="partner_ref-img">
                <img src="/static/img/partners-logo/a-e-s.png" height="100">
            </a>
        </div>
        <div class="partner_ref">
            <h1>ТВЗ</h1>
            <a href="http://www.tvz.ru" class="partner_ref-img">
                <img src="/static/img/partners-logo/tvg.png" height="100">
            </a>
        </div>

    </div>
</div>