<div class="each-list-container centering column">
    <div class="horizontal-direction">
        <p>Сбербанк</p>
        <img src="/static/img/partners-logo/sberbank.svg" alt="sberbank_logo" height="20vh">
    </div>
</div>