<div class="each-list-container">
    <div class="partner-list centering none_decoration">
        <a href="https://www.sberbank.ru/ru" class="partner_ref none_decoration row">
            <img class="partner_ref-img" src="/static/img/partners-logo/sber.png" height="100">
        </a>
        <a href="https://tcax.ru" class="partner_ref none_decoration row">
            <img class="partner_ref-img" src="/static/img/partners-logo/tcax.jpg" height="100">
        </a>
        <a href="http://ecotechpro.ru/ru" class="partner_ref none_decoration row">
            <img class="partner_ref-img" src="/static/img/partners-logo/tzvp.jpg" height="150">
        </a>
        <a href="https://atomsbt.ru/tver" class="partner_ref none_decoration row">
            <img class="partner_ref-img" src="/static/img/partners-logo/a-e-s.jpg" height="150">
        </a>
        <a href="http://www.tvz.ru" class="partner_ref none_decoration row">
            <img class="partner_ref-img" src="/static/img/partners-logo/tvg.png" height="120">
        </a>
        <a href="https://wizard-c.ru" class="partner_ref none_decoration row">
            <img class="partner_ref-img wide-img" src="/static/img/partners-logo/wizard.png" height="50">
        </a>
    </div>
</div>