<p>
  ID:
  {{user.id}}<br />
  {{#if user.email}}
    Email:
    {{user.email}}<br />
  {{/if}}
</p>
{{#if status}}
  Статус:
  {{status}}</br>
    <a href="/request">Изменить заявку</a>
  {{else}}
    <a href="/request">Подать заявку</a> 
{{/if}}

<a href="/logout">Log out</a>