<p>Почта, указанная при регистрации</p>
<form action="/recover" method="POST">
    <input type="email" name="email" placeholder="email">
    <button type="submit" style="width: 5vh; height:4vh;">Отправить</button>
</form>
<p>{{error}}</p>