<form action="/registration" method="post">
    <div>
        <label>Email:</label>
        <input class="input" type="text" name="email" />
    </div>
    <p></p>
    <div>
        <label>Password:</label>
        <input class="input" type="password" name="password" />
    </div>
    <div>
        <input class="button button_size_normal button_style_action" type="submit" value="Submit" />
    </div>
</form>