<div class="register-container centering">
  <div style="margin-top: -1vh;">
    <h1>Регистрация</h1>
  </div>
  <div class="info-block__text">
    <form action="/registration" method="post">
      <div class="register-line">
        <b>Email</b>
        <input class="input" type="text" name="email" />
      </div>
      <div class="register-line">
        <b>Пароль</b>
        <input class="input" type="password" name="password" />
      </div>
      <div class="register-line centering">
        <input class="button" type="submit" value="Зарегистрироваться" />
      </div>
    </form>
  </div>
</div>