<form action='request' method='POST'>
  <input type='text' name='team_name' placeholder='Название команды' />
  <input type='text' name='team_desc' placeholder='Описание команды' />
  <input type='text' name='school' placeholder='Школа' />
  <input type='text' name='boss' placeholder='Руководитель' />
  <button type='submit' style='width: 5vh; height: 3vh'>Подтвердить</button>
</form>