<form action='/reset/{{token}}' method="post">
    <input type="password" name="password" placeholder="password">
    <button type="submit" style="width: 5vh; height:4vh;">Подтвердить</button>
</form>