<div class='content_main-block centering'>
  <a
    href='/admin/teams/add'
    class='add__action background-image_when-svg action__icon-add btn btn-primary'
  ></a>
  <div class='column-reverse'>
    {{#each this.list}}
      <div class='each-list-container centering column'>
        <div class='list-container__header'>
          <h1>{{this.name}}</h1>
        </div>
        <div class='list-container__text'>{{{this.description}}}</div>
        <a
          href='/admin/teams/delete?id={{id}}'
          class='list-container__action action__icon-delete background-image_when-svg'
        ></a>
        <a
          href='/admin/teams/edit?id={{id}}'
          class='list-container__action action__icon-edit background-image_when-svg'
        ></a>
      </div>
    {{/each}}
  </div>
</div>