.button {
    border: none;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    display: block;
  }
  
  .button_size_small {
    width: 18px;
    height: 18px;
  }
  
  .button_size_normal {
    width: 60px;
    height: 40px;
  }
  
  .button_icon_edit {
    background-image: url("../assets/svg/edit_pencil.svg");
  }
  
  .button_icon_confirm {
    background-image: url("../assets/svg/edit_confirm.svg");
  }
  
  .button_icon_plus {
    background-image: url("../assets/svg/plus.svg");
    background-size: 30%;
  }
  
  .button_icon_delete {
    background-image: url("../assets/svg/delete_button.svg");
  }
  
  .button_style_icon {
    display: inline-block;
  }
  
  .button_style_action {
    border-radius: 3px;
    border-color: #e0e8f5;
    background-color: #6664ff;
  }
  
  .button_style_action:hover {
    background-color: #7b68ee;
  }
  
  .button_indent-l {
    margin-left: 10px;
  }
  
  .page {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    box-sizing: border-box;
    width: 400px;
    padding: 50px 20px;
    background: #f4f7fc;
    border-radius: 4px;
    margin: 30px 0;
  }
  
  .row {
    box-sizing: border-box;
    background: #e0e8f5;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .row:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .row:hover {
    background-color: lightskyblue;
  }
  
  .row__text {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }
  
  .row__controls {
    display: flex;
  }
  
  .date {
    margin-top: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
  }
  
  .date_indent-b {
    margin-bottom: 30px;
  }
  
  .input-container {
    display: flex;
  }
  
  .input {
    background: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 20px;
    flex: 1;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    outline: none;
  }
  
  .input:focus {
    border-color: #6664ff;
  }
  
  .count-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  